﻿@model BaseViewModel<Product, GridSortOptions>;

@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<table>
    <tr>
        <th><a asp-route-sortColumn="productName" asp-route-pageNumber="@Model.GridOptions.PageNumber">Product Name</a></th>
        <th>Product Number</th>
        <th><a asp-route-sortColumn="standardCost" asp-route-pageNumber="@Model.GridOptions.PageNumber">Standard Cost</a></th>
    </tr>
    @foreach (var product in Model.Records)
    {
        <tr>
            <td>@product.Name </td>
            <td>@product.ProductNumber</td>
            <td>@product.StandardCost</td>
        </tr>
    }
    <tr>
        <td>

            @if (Model.GridOptions.PageNumber > 1)
            {
                <a asp-route-pageNumber="@(Model.GridOptions.PageNumber - 1)" asp-route-sortColumn="@Model.GridOptions.SortColumn">Page @(Model.GridOptions.PageNumber - 1)</a>
            }
        </td>
        <td>Now Viewing Page @Model.GridOptions.PageNumber of @Model.GetPageCount() </td>
        <td>
            @if (Model.GridOptions.PageNumber < Model.GetPageCount())
            {
                <a asp-controller="Home" asp-action="Index" asp-route-sortColumn="@Model.GridOptions.SortColumn" asp-route-pageNumber="@(Model.GridOptions.PageNumber + 1)">Page @(Model.GridOptions.PageNumber + 1) </a>
            }
        </td>
    </tr>
</table>